.login {
    background-color:#131c21;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login__container {
    padding: 100px;
    text-align: center;
    background-color: #131c21;
    border-radius: 10px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
}

.login__container img {
    object-fit: contain;
    width: 50%;
    margin-bottom: 40px;

}

/* .login__container button {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0fb45c;
    color: white;
}
 button :hover {
    background-color: #0fb45c;
    color: white;
} */